<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <div th:fragment="*">
        <div style="
            background-color: #343a40;
            color: #ffffff;
            text-align: center;
            padding: 1rem 0;
            position: fixed;
            bottom: 0;
            width: 100%;
            z-index: 10;
            font-size: 0.9rem;">
            <p style="margin: 0;">Copyright &copy; 2024 by Gabriel Piske. Todos os direitos reservados.</p>
        </div>
    </div>
</body>
</html>
